<div class="this-weather-v2" role="main">
  <header>
    <div class="search-box">
      <label for="search-input" title="Buscar">
        <input
          id="search-input"
          type="text"
          [ngClass]="{ 'search-input': true, 'loading': false }"
          [placeholder]="this.message || 'Buscar cuidad, región, país'"
          [(ngModel)]="query"
          (keyup.enter)="checkQuery(query)" />
      </label>
    </div>
  </header>
  <div class="card-container">
    <app-card
      *ngFor="let card of cards"
      [data]="card"
      [isHome]="cards.indexOf(card) === 0"
      (deleteCardEvent)="deleteCard($event)">
    </app-card>
  </div>
  <app-confirm-home
    *ngIf="!homeConfirmed"
    [home]="home"
    (confirmHomeEvent)="saveHome()"
    (askHomeByGPSEvent)="setHomeByGPS()">
  </app-confirm-home>
  <footer>
    <h1>
      <a href="/">this.weather-v2</a>
    </h1>
    <a href="https://leodeslf.com">Leo de SLF</a>
  </footer>
</div>
